.feedbackCardsSection {
  width: 100vw;
  height: 550px;
  overflow: hidden;
  text-align: center;
  @include mobile {
    margin-top: 60px;
    .feedbackCardsSection__startButton {
      margin-top: 45px;
    }
  }
  ul {
    width: auto;
    padding-top: 70px;
    .card {
      text-align: center;
      padding: 24px;
      &__inner {
        background-color: map.get($neutral-colors, "light-gray");
        padding: 20px;
        position: relative;
      }
      .card__title {
        margin: 26px;
        margin-top: 45px;
        font-weight: map.get($font-weights, "bold");
        color: map.get($primary-colors, "blue");
      }
      .avatar {
        width: 75px;
        position: absolute;
        top: -44%;
        left: 50%;
        transform: translate(-50%, 90%);
      }
      p {
        line-height: 26px;
      }
    }
  }
}
