.footer {
  background-color: map.get($neutral-colors, "dark-blue");
  text-align: center;

  .footer__inputBlock {
    display: flex;
    input {
      @include radiusPadding;
      align-self: center;
      flex: 2;
    }
  }
  .footer__nav {
    display: flex;
    text-align: left;
  }
  .footer__anchorList {
    flex: 1;
    .footer__anchorListItem {
      margin: 14px;
    }
    a {
      color: white;
      font-size: 14px;
    }
  }
  .logo {
    margin-top: 12px;
    .logo__text {
      fill: map.get($neutral-colors, "light-gray");
    }
  }
  .footer__copyrightInfo {
    font-size: 12px;
    text-align: center;
    padding: 30px;
  }

  .socialMediaList {
    display: flex;
    justify-content: space-between;
    @include mobile {
      margin: 24px 40px;
      .socialMediaList__siteIcon {
        width: 30px;
        height: 30px;
      }
    }
  }
  @include desktop {
    &__inner {
      @include horizontalMargin;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      height: 260px;
      padding-left: 24px;
    }

    &__shareAndLogo {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;

      .logo {
        margin-bottom: 70px;
        transform: translateY(-16px);
      }

      .socialMediaList {
        width: 160px;
      }
    }
    &__nav {
      align-items: center;
      width: 450px;
      padding-top: 40px;
    }
    &__anchorList {
      height: 200px;
      // margin-left: 18px;
    }
    .footer__anchorList--second {
      .footer__anchorListItem {
        margin-right: 20px;
        margin-left: auto;
      }
    }

    &__anchorListItem {
      width: 130px;
    }
    &__inputBlockContainer {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      margin-right: 14px;
    }
    &__inputBlock {
      margin-top: 40px;
      width: 280px;
      padding-top: 6px;
      .btn {
        width: 60px;
      }
    }
    &__copyrightInfo--mobile {
      display: none;
    }
    &__copyrightInfo--desktop {
      display: block;
      text-align: right;
      padding-right: 6px;
      margin-bottom: 72px;
    }
  }

  @include mobile {
    height: 540px;
    .footer__copyrightInfo--desktop {
      display: none;
    }
    &__nav {
      padding: 0 24px;
    }
    &__anchorList {
      margin-left: 28px;
    }

    &__inputBlock {
      padding-top: 31px;
      padding-bottom: 24px;
      padding-left: 23px;
      padding-right: 17px;
      input {
        min-width: 120px;
      }
    }
    &__shareAndLogo {
      margin-top: 39px;
      .logo {
        margin-top: 26px;
      }
    }
    &__copyrightInfo--mobile {
      margin-top: 50px;
    }
  }
}
