@use "sass:map";
@use "sass:color";

@use "./core/colorPalette" as *;
@use "./core/typography" as *;
@use "./abstracts/mixin" as *;

@import "./core/reset";
@import "./core/typography";

@import "./abstracts/mediaQuery";
@import "./abstracts/mixin";

@import "./components/swiper";
@import "./components/button";
@import "./components/popupBackground";

@import "./layout/header";
@import "./layout/lastSection";
@import "./layout/differencesSection";
@import "./layout/footer";
@import "./layout/feedbackCardsSection";
@import "./layout/main";

body {
  overflow-x: hidden;

  background-image: url("images/bg-tablet-pattern.svg"),
    url("images/bg-tablet-pattern.svg");
  background-repeat: no-repeat, no-repeat;

  @include mobile {
    background-position-x: 100px, 240px;
    background-position-y: -100px, 430px;
    background-size: 120%, 100%;
  }
  @include desktop {
    background-position-x: 117%, -81%;
    background-position-y: -6%, 61%;
    background-size: 821px, 815px;
  }
}

a:hover {
  color: map.get($neutral-colors, "grayish-blue");
}

@include desktop {
}
