.lastSection {
  background-color: map.get($primary-colors, "red");
  padding-left: 28px;
  padding-right: 28px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include mobile {
    background-image: url("../images/bg-simplify-section-mobile.svg");
    background-position: left center;
    background-repeat: no-repeat;
    height: 405px;
    text-align: center;
    .lastSection__title {
      font-size: map.get($font-sizes--mobile, "h1");
      transform: translateY(26px);
      line-height: 50px;
    }
    .btn {
      margin-top: 50px;
    }
  }
  @include desktop {
    position: relative;
    height: 220px;
    &:after {
      content: "";
      background-image: url("../images/bg-tablet-pattern.svg"),
        url("../images/bg-tablet-pattern.svg");
      background-repeat: no-repeat, no-repeat;
      background-position-x: 130%, 19%;
      background-position-y: 129%, 12%;
      background-size: 500px, 570px;
      opacity: 0.1;
      position: absolute;
      width: 100%;
      height: 100%;
    }
    .lastSection__inner {
      @include horizontalMargin;
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    .lastSection__title {
      width: 460px;
      padding-left: 18px;
      padding-top: 2px;
    }
    .btn {
      height: 43px;
      transform: translate(-10px, 7px);
    }
  }

  .lastSection__title {
    color: map.get($neutral-colors, "light-gray");
  }
}
