.main {
  @include mobile {
    height: 736px;
    &__heroImage {
      width: 92vw;
      max-width: 450px;
      transform: translateY(10px);
    }

    &__content {
      padding-top: 12px;
    }
    h1 {
      line-height: 50px;
      margin: 0 20px;
    }
    h3 {
      padding-top: 4px;
      padding-bottom: 9px;
      line-height: 27px;
      padding-left: 19px;
      padding-right: 19px;
      margin: 0 20px;
    }
  }
  p {
    line-height: 1.5;
  }

  @include desktop {
    @include horizontalMargin;
    padding: 0 16px;
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;

    &__tabletPatternImage--mobile {
      display: none;
    }
    &__heroImage {
      margin-right: 12px;
      margin-top: 10px;
      // max-width: 600px;
      max-width: 60vw;
      align-self: center;
      transform: translateX(30px);
    }
    &__content {
      max-width: 500px;
      text-align: start;
      padding-left: 2px;
      padding-top: 18px;
      // transform: translateY(20px);
      .main__description {
        margin-top: 26px;
        margin-bottom: 20px;
        font-size: 14px;
        width: 70%;
        line-height: 1.8;
      }
      p {
        width: 85%;
        padding: 12px;
      }
    }
  }

  text-align: center;
}
