@use "sass:map";
@use "sass:color";

@use "colorPalette" as *;
@use "font" as *;
@use "mixin" as *;

@import "reset";
@import "mediaQuery";
@import "swiper";
@import "font";
@import "popupBackground";
@import "header";
@import "footer";
@import "mixin";
@import "cards";
@import "button";
@import "lastSection";
@import "differencesSection";

.mainDiv {
  background-image: url("../images/bg-tablet-pattern.svg");
  background-repeat: no-repeat;
  @include mobile {
    background-size: 90%;
    background-position: 186% -2%;
  }

  @include desktop {
    background-size: 50%;
    background-position: 111% 259%;
  }
}

.main {
  @include mobile {
    height: 90vh;
    img {
      width: 95vw;
      max-width: 450px;
    }
    p {
      padding: 20px;
    }

    background-image: url("../images/bg-tablet-pattern.svg");
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: 215% 92%;
  }
  p {
    line-height: 1.5;
  }

  @include desktop {
    @include horizontalMargin;
    padding: 0 16px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;

    img {
      max-width: 500px;
      align-self: center;
    }
    &__content {
      max-width: 400px;
      text-align: start;
      p {
        width: 85%;
        padding: 12px;
      }
    }
  }

  text-align: center;
}
