$border-radius: 20px;

@mixin radiusPadding {
  border-radius: $border-radius;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 12px;
  padding-bottom: 12px;
}

@mixin horizontalMargin {
  margin: 0 auto;
  max-width: min(95vw, 1100px);
}
