@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap");
h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 16px;
}

p {
  font-size: 14px;
}

h1,
h2 {
  color: hsl(228, 39%, 23%);
  font-weight: 700;
}

body {
  font: 100% "Be Vietnam Pro", Helvetica, sans-serif;
  color: hsl(227, 12%, 61%);
}

a {
  text-decoration: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

.swiper-pagination {
  position: static;
  margin-top: 10px;
}

.swiper-pagination-bullet {
  background-color: white;
  outline: 1px solid orange;
}
@media (min-width: 768px) {
  .swiper-pagination-bullet {
    display: none;
  }
}
@media (max-width: 767px) {
  .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    opacity: 1;
  }
}
.swiper-pagination-bullet-active {
  background-color: orange;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 16px;
}

p {
  font-size: 14px;
}

h1,
h2 {
  color: hsl(228, 39%, 23%);
  font-weight: 700;
}

body {
  font: 100% "Be Vietnam Pro", Helvetica, sans-serif;
  color: hsl(227, 12%, 61%);
}

.popup-background {
  z-index: 100;
  background: linear-gradient(0deg, rgb(45, 45, 45) 0%, rgb(122, 122, 122) 35%, rgb(221, 221, 221) 100%);
  opacity: 0.3;
  width: 100%;
  height: 100%;
  position: fixed;
  visibility: hidden;
}
.popup-background--active {
  visibility: visible;
}

.header {
  padding-top: 40px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
}
.header .logo {
  align-self: center;
  width: 110px;
  margin-left: 4px;
}
.header a {
  color: hsl(228, 39%, 23%);
  font-weight: 700;
  font-size: 16px;
}
@media (min-width: 768px) {
  .header {
    margin: 0 auto;
    max-width: min(95vw, 1100px);
  }
}
.header__nav {
  display: none;
}
@media (min-width: 768px) {
  .header__nav {
    display: flex;
    max-width: 55%;
    width: 500px;
  }
  .header__nav ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
}
@media (max-width: 767px) {
  .header .btn {
    display: none;
  }
  .header--expanded .header__nav {
    display: flex;
    background-color: white;
    text-align: center;
    justify-content: center;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100vw - 50px);
    height: 40vh;
    border-radius: 4px;
    padding-top: 12px;
    padding-bottom: 30px;
    z-index: 200;
  }
  .header--expanded .header__nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .header--expanded .header__nav li {
    margin-top: 2rem;
  }
}
.header .nav-hamburger {
  margin-right: 4px;
  border: none;
  background-color: initial;
  background-image: url("../images/icon-hamburger.svg");
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
}
@media (min-width: 768px) {
  .header .nav-hamburger {
    display: none;
  }
}
.header .nav-hamburger--expanded {
  background-image: url("../images/icon-close.svg");
}

.footer {
  background-color: hsl(233, 12%, 13%);
  text-align: center;
}
.footer .footer__inputBlock {
  display: flex;
}
.footer .footer__inputBlock input {
  border-radius: 20px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 12px;
  padding-bottom: 12px;
  align-self: center;
  flex: 2;
  min-width: 120px;
}
.footer .footer__nav {
  display: flex;
  text-align: left;
  padding: 0 24px;
}
.footer .footer__anchorList {
  flex: 1;
  margin-left: 28px;
}
.footer .footer__anchorList li {
  margin: 12px;
}
.footer .footer__anchorList a {
  color: white;
  font-size: 14px;
}
.footer .logo {
  margin-top: 12px;
}
.footer .logo .logo__text {
  fill: hsl(0, 0%, 98%);
}
.footer .footer__copyrightInfo {
  font-size: 12px;
  text-align: center;
  padding: 30px;
}
.footer .socialMediaList {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .footer .socialMediaList {
    margin: 24px 40px;
  }
  .footer .socialMediaList .socialMediaList__siteIcon {
    width: 30px;
    height: 30px;
  }
}
@media (min-width: 768px) {
  .footer__inner {
    margin: 0 auto;
    max-width: min(95vw, 1100px);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    height: 280px;
  }
  .footer__copyrightInfo--mobile {
    display: none;
  }
  .footer__copyrightInfo--desktop {
    display: block;
    font-size: 12px;
    text-align: right;
    padding-right: 12px;
  }
  .footer__shareAndLogo {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    margin: 20px 0;
  }
  .footer__shareAndLogo .logo {
    margin-bottom: 70px;
  }
  .footer__shareAndLogo .socialMediaList {
    width: 160px;
  }
  .footer__nav {
    align-items: center;
    width: 450px;
  }
  .footer__inputBlockContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .footer__inputBlock {
    margin-bottom: 30px;
  }
  .footer__inputBlock .btn {
    align-self: center;
  }
}
@media (max-width: 767px) {
  .footer {
    height: 550px;
  }
  .footer .footer__copyrightInfo--desktop {
    display: none;
  }
  .footer__inputBlock {
    padding-top: 33px;
    padding-bottom: 30px;
    padding-left: 23px;
    padding-right: 17px;
  }
  .footer__shareAndLogo {
    margin-top: 45px;
  }
  .footer__shareAndLogo .logo {
    margin-top: 26px;
  }
  .footer__copyrightInfo--mobile {
    margin-top: 50px;
    font-size: 12px;
  }
}

.feedbackCardsSection {
  width: 100vw;
  height: 550px;
  overflow: hidden;
  text-align: center;
}
@media (max-width: 767px) {
  .feedbackCardsSection {
    margin-top: 60px;
  }
  .feedbackCardsSection .feedbackCardsSection__startButton {
    margin-top: 45px;
  }
}
.feedbackCardsSection ul {
  width: auto;
  padding-top: 70px;
}
.feedbackCardsSection ul .card {
  text-align: center;
  padding: 24px;
}
.feedbackCardsSection ul .card__inner {
  background-color: hsl(0, 0%, 98%);
  padding: 20px;
  position: relative;
}
.feedbackCardsSection ul .card .card__title {
  margin: 26px;
  margin-top: 45px;
  font-weight: 700;
  color: hsl(228, 39%, 23%);
}
.feedbackCardsSection ul .card .avatar {
  width: 75px;
  position: absolute;
  top: -44%;
  left: 50%;
  transform: translate(-50%, 90%);
}
.feedbackCardsSection ul .card p {
  line-height: 26px;
}

.btn {
  border-radius: 20px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 8px;
  margin-right: 8px;
  font-weight: 700;
  border: none;
  filter: drop-shadow(0px 6px 5px rgba(242, 95, 58, 0.4));
}
.btn--primary {
  color: hsl(0, 0%, 98%);
  background-color: hsl(12, 88%, 59%);
}
.btn--secondary {
  color: hsl(12, 88%, 59%);
  background-color: white;
}

.lastSection {
  background-color: hsl(12, 88%, 59%);
  padding-left: 28px;
  padding-right: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .lastSection {
    background-image: url("../images/bg-simplify-section-mobile.svg");
    background-position: left center;
    background-repeat: no-repeat;
    height: 405px;
    text-align: center;
  }
  .lastSection h1 {
    transform: translateY(26px);
    line-height: 50px;
  }
  .lastSection .btn {
    margin-top: 50px;
  }
}
@media (min-width: 768px) {
  .lastSection {
    height: 200px;
  }
  .lastSection div {
    margin: 0 auto;
    max-width: min(95vw, 1100px);
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .lastSection h1 {
    width: 400px;
  }
}
.lastSection h1 {
  color: hsl(0, 0%, 98%);
}

@media (min-width: 768px) {
  .differencesSection__inner {
    margin: 0 auto;
    max-width: min(95vw, 1100px);
    display: flex;
  }
}
@media (max-width: 767px) {
  .differencesSection__mainTitle {
    text-align: center;
  }
}
.differencesSection__mainTitle h2 {
  padding-left: 30px;
  padding-right: 30px;
  line-height: 46px;
  transform: translateY(-5px);
}
.differencesSection__mainTitle p {
  padding: 5px 10%;
  margin-bottom: 24px;
  line-height: 28px;
}
@media (min-width: 768px) {
  .differencesSection__mainTitle p {
    width: 70%;
  }
}
.differencesSection ul {
  margin-top: 49px;
}
.differencesSection ul li {
  margin-top: 37px;
}
.differencesSection ul li p {
  padding: 10px 16px;
  line-height: 2;
}
@media (min-width: 768px) {
  .differencesSection ul li p {
    padding-left: 96px;
  }
}

.list__title {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-left: 16px;
  font-weight: 700;
}
@media (max-width: 767px) {
  .list__title {
    background-color: hsl(13, 100%, 96%);
  }
}
.list__title .list__number {
  border-radius: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 24px;
  padding-right: 24px;
  font-weight: 700;
  background-color: hsl(12, 88%, 59%);
  color: white;
}
.list__title h3 {
  color: hsl(233, 12%, 13%);
  display: inline-block;
  padding-left: 12px;
}

body {
  overflow-x: hidden;
}
body .tabletPatternImage--second,
body .tabletPatternImage--first {
  position: absolute;
  z-index: -1;
}
@media (max-width: 767px) {
  body .tabletPatternImage--first {
    right: -33%;
    top: -13%;
    width: 118%;
  }
  body .tabletPatternImage--second {
    right: -71%;
    top: 55%;
    width: 400px;
  }
}

.main {
  text-align: center;
}
@media (max-width: 767px) {
  .main {
    height: 90vh;
  }
  .main__heroImage {
    width: 92vw;
    max-width: 450px;
    transform: translateY(10px);
  }
  .main__content {
    padding-top: 11px;
  }
  .main h1 {
    line-height: 50px;
    margin: 0 20px;
  }
  .main h3 {
    padding-top: 5px;
    padding-bottom: 13px;
    line-height: 27px;
    padding-left: 19px;
    padding-right: 19px;
    margin: 0 20px;
  }
}
.main p {
  line-height: 1.5;
}
@media (min-width: 768px) {
  .main {
    margin: 0 auto;
    max-width: min(95vw, 1100px);
    padding: 0 16px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }
  .main__tabletPatternImage--mobile {
    display: none;
  }
  .main__heroImage {
    max-width: 500px;
    align-self: center;
  }
  .main__content {
    max-width: 400px;
    text-align: start;
  }
  .main__content p {
    width: 85%;
    padding: 12px;
  }
}

/*# sourceMappingURL=style.css.map */
