.swiper-pagination {
  position: static;
  margin-top: 10px;
}

.swiper-pagination-bullet {
  @include desktop {
    display: none;
  }
  @include mobile {
    width: 6px;
    height: 6px;
    opacity: 1;
  }
  background-color: white;
  outline: 1px solid orange;

  &-active {
    background-color: orange;
  }
}
