@import "mediaQuery";

$border-radius: 60px;

@mixin radiusPadding {
  border-radius: $border-radius;
  @include mobile {
    padding: 15px 32px;
  }
  @include desktop {
    padding: 14px 24px;
  }
  // padding-left: 24px;
  // padding-right: 24px;
  // padding-top: 12px;
  // padding-bottom: 12px;
}

@mixin horizontalMargin {
  margin: 0 auto;
  max-width: min(95vw, 1150px);
}
